@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
}

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
}

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
}
