*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  max-width: 1920px;
  margin-inline: auto;
  background-color: $background-color;
  background-image: url(../../assets/background.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: $color-text;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
