.hero {
  position: relative;
  width: 100%;
  min-height: min(110vh, 108rem);
  display: grid;
  place-items: center;
  align-content: center;
  gap: 4rem;
  text-align: center;
  color: $color-text;
  padding-top: 10rem;

  @media screen and (max-width: $m-phone) {
    padding-top: 0rem;
    min-height: min(100vh, 108rem);
  }
  &__content-box {
    @include d-flex;
    width: 60%;
    flex-direction: column;
    gap: 3rem;

    @media screen and (max-width: $m-md) {
      max-width: 80%;
    }
    @media screen and (max-width: $m-landscape) {
      max-width: 85%;
    }
    @media screen and (max-width: $m-tab) {
      max-width: 95%;
    }
  }
}

.animated-logos {
  > svg {
    position: absolute;
    width: 5rem;
    opacity: 0.8;
    animation: moveUp 2s linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    &:nth-child(1) {
      top: 20%;
      left: 20%;
      animation-delay: 0.4s;

      @include respond(phone) {
        left: 15%;
      }
    }

    &:nth-child(2) {
      top: 80%;
      left: 25%;
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      top: 25%;
      animation-delay: 1s;
      right: 20%;
      @include respond(phone) {
        right: 15%;
      }
    }

    &:nth-child(4) {
      animation-delay: 0.7s;
      left: 15%;
      top: 55%;
    }
  }
}

// Coins Section
.section__coins {
  overflow: hidden;
  margin-top: 20rem;
  min-height: min(90vh, 108rem);
  // background-color: black;
  position: relative;
}

.coins__left {
  color: $color-white;
  padding: 3rem;
  padding-left: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 80%;
  background-color: $color-primary;
  border-radius: 0 0 60rem 0;

  letter-spacing: 0.15rem;
  // line-height: 140%;

  @include d-flex;

  @include respond(tab) {
    position: static;
    width: 100%;
    border-radius: 0;
    text-align: center;
    padding-block: 8rem;
    margin-block: 8rem;
    transform: skewY(-12deg);
  }
  @include respond(phone) {
    margin-block: 4rem;
  }

  div {
    width: 80%;
    // margin-inline: auto;
    @include d-flex;
    gap: 1rem;
    align-items: flex-start;
    flex-direction: column;

    @include respond(tab) {
      transform: skewY(12deg);
    }

    @include respond(phone) {
      gap: 3rem;
    }
  }
}

.exchange__cards {
  display: grid;
  position: absolute;
  left: 43%;
  top: 40%;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 1fr;
  column-gap: 2rem;
  row-gap: 5rem;
  > div:nth-child(n + 11) {
    margin-left: 5rem;
    margin-right: -5rem;
  }

  @media screen and (max-width: $m-tab) {
    margin-top: 10rem;
    position: static;
    > div:nth-child(n + 11) {
      margin-inline: 0;
      margin-left: -3rem;
      margin-right: 3rem;
    }
    > div {
      margin-left: -3rem;
      margin-right: 3rem;
    }
  }
}

.section__feature {
  padding: 3rem 10rem;
  margin-block: 15rem;

  @media screen and (max-width: $m-tab) {
    padding: 3rem 5rem;
  }

  @media screen and (max-width: $m-phone) {
    padding: 3rem;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    @media screen and (max-width: $m-tab-lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $m-tab) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.testimonials {
  margin-block: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: 10rem;
}
