// FONTS
$font-primary: "Roboto", sans-serif;
$font-secondary: "Outfit", sans-serif;

$nav-text: 2rem;

// COLORS
//Colors
$color-cta: #51ce7f;
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$background-color: #050f1c;

$color-primary-dark-2: #314cbc;
$color-primary-light-2: #d889fa;

$color-text: #fff;
$color-text-primary: #777;
$color-grey--dark: #999;
$color-grey-dark--2: #333;
$color-white: #fff;
$color-black: #000;

$color-bg-grey: #f7f7f7;
$color-grey--light: #eee;
