// FONTS
$font-primary: "Roboto", sans-serif;
$font-secondary: "Outfit", sans-serif;
$defaultFontSize: 1.6rem;
$nav-text: 2rem;

// COLORS
$color-cta: #51ce7f;
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$background-color: #050f1c;
$color-text: #fff;
$color-text--light: #cbcbcb;

$color-border: rgb(27, 202, 255);
$color-border-opacity: 0.49;

$color-card-bg: rgb(52, 64, 84);
$color-card-bg-opacity: 0.3;

$color-white: #fff;
$color-black: #000;

$table-padding: 2.4rem;

//Media Queries
$m-md: 1025px;
$m-landscape: 987px;
$m-lcd-mini: 900px;
$m-tab-lg: 795px;
$m-tab-md: 700px;
$m-tab: 600px;
$m-phone: 450px;
$m-phone-sm: 320px;
