.footer {
  padding: 4rem;
  padding-bottom: 0rem;

  @media screen and (max-width: $m-tab) {
    padding: 2rem 0;
  }
  &__body {
    display: flex;
    padding: 6rem;
    @media screen and (max-width: $m-tab) {
      flex-direction: column;
      align-items: center;
      gap: 5rem;
    }
    @include respond(phone) {
      padding-inline: 2rem;
    }
  }

  &__logo {
    width: 60%;
    @media screen and (max-width: $m-tab) {
      width: fit-content;
    }
    img {
      width: 10rem;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include respond(phone) {
      gap: 1rem;
    }
    @include respond(phone-sm) {
      gap: 3rem;
      flex-wrap: wrap;
    }

    &__heading {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    &__list {
      font-size: 1.6rem;
      list-style-type: none;
    }

    &__item {
      color: $color-text--light;
      letter-spacing: 0.1rem;
      // display: inline-block;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      transition: all 0.1s;
      &:hover {
        color: $color-primary;
        cursor: pointer;
        transform: scale(1.15) rotate(-5deg);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      }
    }
  }

  &__copyright {
    padding: 2rem;
    font-size: 1.6rem;
    text-align: center;
    color: $color-text--light;
  }
}
