.header {
  width: 100%;
  position: fixed;
  padding: 1.3rem 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba($color-card-bg, $color-card-bg-opacity);
  border-bottom: 1px solid rgba($color-border, $color-border-opacity);
  z-index: 1;
  font-family: $font-secondary;
  &__content {
    @include d-flex;
    justify-content: space-between;
    width: 80%;
    margin-inline: auto;
  }

  &__logo-box {
    @include d-flex;
    cursor: pointer;
    gap: 1rem;
  }

  &__logo {
    width: 5rem;
    height: 5rem;

    &--text {
      font-size: 3rem;
      color: $color-primary-dark;
      text-transform: uppercase;
    }
  }
}

.nav {
  &__list {
    @include d-flex;
    list-style: none;
    gap: min(25px, 2.5rem);

    &--item {
      text-transform: uppercase;
      > a {
        &,
        &:visited,
        &:link {
          color: $color-primary-dark;
        }
        text-decoration: none;
        font-size: $nav-text;
        &:hover {
          color: $color-primary-light;
        }
      }
    }
  }
}
